/.metadata

/AntiRebote/.settings/
/AntiRebote/Debug/
/AntiRebote/Drivers/
/AntiRebote/Release/
/AntiRebote/.cproject
/AntiRebote/.mxproject
/AntiRebote/.project
/AntiRebote/STM32F401RETX_FLASH.ld
/AntiRebote/STM32F401RETX_RAM.ld

/Anti-rebote/.settings/
/Anti-rebote/Debug/
/Anti-rebote/Release/
/Anti-rebote/Drivers/
/Anti-rebote/.cproject
/Anti-rebote/.mxproject
/Anti-rebote/.project
/Anti-rebote/STM32F401RETX_FLASH.ld
/Anti-rebote/Anti-rebote Debug.launch
/Anti-rebote/Anti-rebote.ioc
/Anti-rebote/STM32F401RETX_RAM.ld

/Anti-reboteSemaforo/.settings/
/Anti-reboteSemaforo/Release/
/Anti-reboteSemaforo/Debug/
/Anti-reboteSemaforo/Drivers/
/Anti-reboteSemaforo/.cproject
/Anti-reboteSemaforo/.mxproject
/Anti-reboteSemaforo/.project
/Anti-reboteSemaforo/STM32F401RETX_FLASH.ld
/Anti-reboteSemaforo/Anti-reboteSemaforo Debug.launch
/Anti-reboteSemaforo/Anti-reboteSemaforo.ioc
/Anti-reboteSemaforo/STM32F401RETX_RAM.ld

/CLOCK/.settings/
/CLOCK/Release/
/CLOCK/Debug/
/CLOCK/Drivers/
/CLOCK/.cproject
/CLOCK/.mxproject
/CLOCK/.project
/CLOCK/STM32F401RETX_FLASH.ld
/CLOCK/CLOCK Debug.launch
/CLOCK/CLOCK.ioc
/CLOCK/STM32F401RETX_RAM.ld

/clock_mx/.settings/
/clock_mx/Release/
/clock_mx/Debug/
/clock_mx/Drivers/
/clock_mx/.cproject
/clock_mx/.mxproject
/clock_mx/.project
/clock_mx/STM32F401RETX_FLASH.ld
/clock_mx/clock_mx Debug.launch
/clock_mx/clock_mx.ioc
/clock_mx/STM32F401RETX_RAM.ld

/Delay_noblocking/.settings/
/Delay_noblocking/Release
/Delay_noblocking/Debug/
/Delay_noblocking/Drivers/
/Delay_noblocking/.cproject
/Delay_noblocking/.mxproject
/Delay_noblocking/.project
/Delay_noblocking/STM32F401RETX_FLASH.ld
/Delay_noblocking/Delay_noblocking Debug.launch
/Delay_noblocking/Delay_noblocking.ioc
/Delay_noblocking/STM32F401RETX_RAM.ld

/hola/.settings/
/hola/Release/
/hola/Debug/
/hola/Drivers/
/hola/.cproject
/hola/.mxproject
/hola/.project
/hola/STM32F401RETX_FLASH.ld
/hola/hola Debug.launch
/hola/hola.ioc
/hola/STM32F401RETX_RAM.ld

/I2C_IMU/.settings/
/I2C_IMU/Release/
/I2C_IMU/Debug/
/I2C_IMU/Drivers/
/I2C_IMU/.cproject
/I2C_IMU/.mxproject
/I2C_IMU/.project
/I2C_IMU/STM32F401RETX_FLASH.ld
/I2C_IMU/I2C_IMU Debug.launch
/I2C_IMU/I2C_IMU.ioc
/I2C_IMU/STM32F401RETX_RAM.ld

/I2C_MPU6050/.settings/
/I2C_MPU6050/Release/
/I2C_MPU6050/Debug/
/I2C_MPU6050/Drivers/
/I2C_MPU6050/.cproject
/I2C_MPU6050/.mxproject
/I2C_MPU6050/.project
/I2C_MPU6050/STM32F401RETX_FLASH.ld
/I2C_MPU6050/I2C_MPU6050 Debug.launch
/I2C_MPU6050/I2C_MPU6050.ioc
/I2C_MPU6050/STM32F401RETX_RAM.ld

/LED_ONOFF/.settings/
/LED_ONOFF/Release/
/LED_ONOFF/Debug/
/LED_ONOFF/Drivers/
/LED_ONOFF/.cproject
/LED_ONOFF/.mxproject
/LED_ONOFF/.project
/LED_ONOFF/STM32F401RETX_FLASH.ld
/LED_ONOFF/LED_ONOFF Debug.launch
/LED_ONOFF/LED_ONOFF.ioc
/LED_ONOFF/STM32F401RETX_RAM.ld

/LED_Secuencia_Practica1/.settings/
/LED_Secuencia_Practica1/Release/
/LED_Secuencia_Practica1/Debug/
/LED_Secuencia_Practica1/Drivers/
/LED_Secuencia_Practica1/.cproject
/LED_Secuencia_Practica1/.mxproject
/LED_Secuencia_Practica1/.project
/LED_Secuencia_Practica1/STM32F401RETX_FLASH.ld
/LED_Secuencia_Practica1/LED_Secuencia_Practica1 Debug.launch
/LED_Secuencia_Practica1/LED_Secuencia_Practica1.ioc
/LED_Secuencia_Practica1/STM32F401RETX_RAM.ld

/mpu6050/.settings/
/mpu6050/Release/
/mpu6050/Debug/
/mpu6050/Drivers/
/mpu6050/.cproject
/mpu6050/.mxproject
/mpu6050/.project
/mpu6050/STM32F401RETX_FLASH.ld
/mpu6050/mpu6050 Debug.launch
/mpu6050/mpu6050.ioc
/mpu6050/.cproject_org
/mpu6050/.project_org
/mpu6050/STM32F401RETX_RAM.ld
/mpu6050/STM32F103C8_FLASH.ld
/mpu6050/mpu6050.elf Run.launch
/mpu6050/mpu6050.elf.launch
/mpu6050/mpu6050_converter.log
/mpu6050/mx.scratch

/Practica_2/.settings/
/Practica_2/Release/
/Practica_2/Debug/
/Practica_2/Drivers/
/Practica_2/.cproject
/Practica_2/.mxproject
/Practica_2/.project
/Practica_2/STM32F401RETX_FLASH.ld
/Practica_2/Practica_2 Debug.launch
/Practica_2/Practica_2.ioc
/Practica_2/STM32F401RETX_RAM.ld

/Programas_Tesis/.settings/
/Programas_Tesis/Release/
/Programas_Tesis/Debug/
/Programas_Tesis/Drivers/
/Programas_Tesis/.cproject
/Programas_Tesis/.mxproject
/Programas_Tesis/.project
/Programas_Tesis/STM32F401RETX_FLASH.ld
/Programas_Tesis/Programas_Tesis Debug.launch
/Programas_Tesis/Programas_Tesis.ioc
/Programas_Tesis/STM32F401RETX_RAM.ld

/Proyecto_STM32_Wifi/.settings/
/Proyecto_STM32_Wifi/Release/
/Proyecto_STM32_Wifi/Debug/
/Proyecto_STM32_Wifi/Drivers/
/Proyecto_STM32_Wifi/.cproject
/Proyecto_STM32_Wifi/.mxproject
/Proyecto_STM32_Wifi/.project
/Proyecto_STM32_Wifi/STM32F401RETX_FLASH.ld
/Proyecto_STM32_Wifi/Proyecto_STM32_Wifi Debug.launch
/Proyecto_STM32_Wifi/Proyecto_STM32_Wifi.ioc
/Proyecto_STM32_Wifi/STM32F401RETX_RAM.ld

/prueba_Clock/.settings/
/prueba_Clock/Release/
/prueba_Clock/Debug/
/prueba_Clock/Drivers/
/prueba_Clock/.cproject
/prueba_Clock/.mxproject
/prueba_Clock/.project
/prueba_Clock/STM32F401RETX_FLASH.ld
/prueba_Clock/prueba_Clock Debug.launch
/prueba_Clock/prueba_Clock.ioc
/prueba_Clock/STM32F401RETX_RAM.ld

/PRUEBA_I2C_IMU/.settings/
/PRUEBA_I2C_IMU/Release/
/PRUEBA_I2C_IMU/Debug/
/PRUEBA_I2C_IMU/Drivers/
/PRUEBA_I2C_IMU/.cproject
/PRUEBA_I2C_IMU/.mxproject
/PRUEBA_I2C_IMU/.project
/PRUEBA_I2C_IMU/STM32F401RETX_FLASH.ld
/PRUEBA_I2C_IMU/PRUEBA_I2C_IMU Debug.launch
/PRUEBA_I2C_IMU/PRUEBA_I2C_IMU.ioc
/PRUEBA_I2C_IMU/STM32F401RETX_RAM.ld

/Prueba_USART/.settings/
/Prueba_USART/Release/
/Prueba_USART/Debug/
/Prueba_USART/Drivers/
/Prueba_USART/.cproject
/Prueba_USART/.mxproject
/Prueba_USART/.project
/Prueba_USART/STM32F401RETX_FLASH.ld
/Prueba_USART/Prueba_USART Debug.launch
/Prueba_USART/Prueba_USART.ioc
/Prueba_USART/STM32F401RETX_RAM.ld

/Semaforo/.settings/
/Semaforo/Release/
/Semaforo/Debug/
/Semaforo/Drivers/
/Semaforo/.cproject
/Semaforo/.mxproject
/Semaforo/.project
/Semaforo/STM32F401RETX_FLASH.ld
/Semaforo/Semaforo Debug.launch
/Semaforo/Semaforo.ioc
/Semaforo/STM32F401RETX_RAM.ld

/Semaforo_delay/.settings/
/Semaforo_delay/Release/
/Semaforo_delay/Debug/
/Semaforo_delay/Drivers/
/Semaforo_delay/.cproject
/Semaforo_delay/.mxproject
/Semaforo_delay/.project
/Semaforo_delay/STM32F401RETX_FLASH.ld
/Semaforo_delay/Semaforo_delay Debug.launch
/Semaforo_delay/Semaforo_delay.ioc
/Semaforo_delay/STM32F401RETX_RAM.ld

/SemaforoDelay/.settings/
/SemaforoDelay/Release/
/SemaforoDelay/Debug/
/SemaforoDelay/Drivers/
/SemaforoDelay/.cproject
/SemaforoDelay/.mxproject
/SemaforoDelay/.project
/SemaforoDelay/STM32F401RETX_FLASH.ld
/SemaforoDelay/SemaforoDelay Debug.launch
/SemaforoDelay/SemaforoDelay.ioc
/SemaforoDelay/STM32F401RETX_RAM.ld

/Semaforo_Practica2/.settings/
/Semaforo_Practica2/Release/
/Semaforo_Practica2/Debug/
/Semaforo_Practica2/Drivers/
/Semaforo_Practica2/.cproject
/Semaforo_Practica2/.mxproject
/Semaforo_Practica2/.project
/Semaforo_Practica2/STM32F401RETX_FLASH.ld
/Semaforo_Practica2/Semaforo_Practica2 Debug.launch
/Semaforo_Practica2/Semaforo_Practica2.ioc
/Semaforo_Practica2/STM32F401RETX_RAM.ld
/Semaforo_Practica2/LED_Secuencia_Practica1 Debug.launch
Semaforo_Practica2/LED_Secuencia_Practica1.ioc

RemoteSystemsTempFiles/.project

/Datasheet/

/sEOS_1/.settings/
/sEOS_1/Debug/
/sEOS_1/Drivers/
/sEOS_1/Release/
/sEOS_1/.cproject
/sEOS_1/.mxproject
/sEOS_1/.project
/sEOS_1/STM32F401RETX_FLASH.ld
/sEOS_1/sEOS_1 Debug.launch
/sEOS_1/sEOS_1.ioc
/sEOS_1/STM32F401RETX_RAM.ld

/stm32_clock/.settings/
/stm32_clock/Debug/
/stm32_clock/Release/
/stm32_clock/Drivers/
/stm32_clock/.cproject
/stm32_clock/.mxproject
/stm32_clock/.project
/stm32_clock/STM32F401RETX_FLASH.ld
/stm32_clock/stm32_clock Debug.launch
/stm32_clock/stm32_clock.ioc
/stm32_clock/STM32F401RETX_RAM.ld

/STM32_ESP8266/.settings/
/STM32_ESP8266/Release/
/STM32_ESP8266/Debug/
/STM32_ESP8266/Nueva carpeta/
/STM32_ESP8266/Drivers/
/STM32_ESP8266/.cproject
/STM32_ESP8266/.mxproject
/STM32_ESP8266/.project
/STM32_ESP8266/STM32F401RETX_FLASH.ld
/STM32_ESP8266/STM32_ESP8266 Debug.launch
/STM32_ESP8266/STM32_ESP8266.ioc
/STM32_ESP8266/STM32F401RETX_RAM.ld

/STM32_LM35/.settings/
/STM32_LM35/Release/
/STM32_LM35/Debug/
/STM32_LM35/Drivers/
/STM32_LM35/.cproject
/STM32_LM35/.mxproject
/STM32_LM35/.project
/STM32_LM35/STM32F401RETX_FLASH.ld
/STM32_LM35/STM32_LM35 Debug.launch
/STM32_LM35/STM32_LM35.ioc
/STM32_LM35/STM32F401RETX_RAM.ld

/STM32_SD/.settings/
/STM32_SD/Release/
/STM32_SD/Debug/
/STM32_SD/Middlewares/
/STM32_SD/Drivers/
/STM32_SD/.cproject
/STM32_SD/.mxproject
/STM32_SD/.project
/STM32_SD/STM32F401RETX_FLASH.ld
/STM32_SD/STM32_SD Debug.launch
/STM32_SD/STM32_SD.ioc
/STM32_SD/STM32F401RETX_RAM.ld

/STM32_Wifi_I2c/.settings/
/STM32_Wifi_I2c/Release/
/STM32_Wifi_I2c/Debug/
/STM32_Wifi_I2c/Drivers/
/STM32_Wifi_I2c/.cproject
/STM32_Wifi_I2c/.mxproject
/STM32_Wifi_I2c/.project
/STM32_Wifi_I2c/STM32F401RETX_FLASH.ld
/STM32_Wifi_I2c/STM32_Wifi_I2c Debug.launch
/STM32_Wifi_I2c/STM32_Wifi_I2c.ioc
/STM32_Wifi_I2c/STM32F401RETX_RAM.ld

/USART/.settings/
/USART/Release/
/USART/Debug/
/USART/Drivers/
/USART/.cproject
/USART/.mxproject
/USART/.project
/USART/USART.launch
/USART/STM32F401RETX_FLASH.ld
/USART/USART Debug.launch
/USART/USART.ioc
/USART/STM32F401RETX_RAM.ld


*/../Core

PRUEBA_I2C_IMU.zip
STM32_Wifi_I2c.zip